header {
    background: #5dc0d1;
    color: #fff;
    padding: 15px 20px;
    font-size: 20px;
    text-align: center;
    font-weight: bold;
}

aside {
    flex: 30%;
    background: rgb(83, 83, 83);
}

.container {
    display: flex;
    flex-direction: row;
}

section.main {
    flex: 80%;
    background: #fff;
    min-height: 530px;
    padding: 15px 20px;
    flex-grow: 1;
}

footer {
    background: #5dc0d1;
    color: rgb(248, 240, 240);
    padding: 20px;
    text-align: center;
}

@media (max-width:700px) {
    .container {
        flex-direction: column;
    }

}

.menu {
    padding: 0;
}

.menu li {
    border-bottom: 1px dotted #444;
}

.menu a {
    display: block;
    padding: 20px 20px;
    list-style: none;
    color: #fff;
    text-decoration: none;
}

.menu a:hover {
    background: #000;
}

.judul {
    color: #555;
    border-bottom: 1px solid #ccc;
    padding-bottom: 15px;
    text-align: center;
}

.table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
}

.table th,
.table td {
    border: 1px solid rgb(24, 42, 104);
    padding: 20px;
}

.table th {
    color: white;
    background: rgb(32, 181, 192);
}

.tombol {
    display:inline-block;
    max-width: 150px;
    padding: 15px 30px;
    color: #fff;
    text-decoration: none;
    background: #038ade;
    cursor: pointer;
}

.tombol.edit,
.tombol.hapus {
    width: 100px;
    text-align: center;
    padding: 10px 15px;
    font-size: 12px;
}

.tombol.hapus {
    background: #fc4c4c;
}